/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
*
* @author Lea McDuffie littleloveprint
*
* Follow the rules and get some more experience.
* Rochelle's head start CSS below
******************************************************/
html, body {
	margin: 0;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* Lea's CSS below
******************************************************/

/* Global styles */

body {
	font-family: sans-serif;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

section {
	padding: 5rem 0;
}

h2 {
	font-size: 2rem;
	margin-top: 0;
}

/* Header styles */

header {
	background: darkorange;
	color: white;
	padding: 2rem 0;
}

header h1 {
	margin: 0 3rem 0 0;
	font-size: 4.5rem;
	display: inline-block;
}

/* Instructions Section */

.instructions {
	padding: 3rem;
	border: 3px solid darkorange;
	color: darkorange;
	font-weight: bold;
	line-height: 1.5rem;
}

.instructions img {
	width: 250px;
	border: 3px solid lightgrey;
}

/* Captain Picard Section */

section:nth-child(2) {
	background: lightgrey;
	color: #555555;
	line-height: 1.5rem;
}

img[alt="captain picard"] {
	width: 300px;
	border: 3px solid white;
	margin-right: 3rem;

}

section:nth-child(2) span {
	font-style: italic;
	font-weight: bold;
	color: black;
	font-family: serif;
}

/* Professional Skills */

section:last-child h2 {
	color: darkorange;
	text-align: right;
}

table {
	width: 100%;
	text-align: left;
}

th, td {
	background: darkorange;
	color: white;
	padding: 1rem;
}

/* Footer */

footer {
	background: black;
	color: lightgrey;
	padding: 2rem 0;
}